body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .course-details-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .course-details-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .course-details-container #course-content {
    margin-top: 20px;
  }
  
  .course-details-container video {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .course-details-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .course-details-container p {
    margin-bottom: 20px;
  }
  
  .course-details-container a {
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
  }
  
  .course-details-container a:hover {
    background-color: #004d99;
  }

  form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
